In [1]:
import pandas as pd
from matplotlib import pyplot as plt

stream = pd.read_csv('stream.csv')
stream.head()

,time,device_id,login,channel,country,player,game,stream_format,subscriber
0,2015-01-01 18:33:52,40ffc2fa6534cf760becbdbf5311e31ad069e46e,085c1eb7b587bfe654f0df7b4ba7f4fc4013636c,frank,US,iphone_t,League of Legends,NaN,NaN
1,2015-01-01 23:35:33,9a8cc2b7162b99c0a0f501dc9a5ec4f68586a760,5ad49a7b408ce452140b180dd6efb57a9f4d22c7,george,US,site,DayZ,chunked,False
2,2015-01-01 04:39:38,2f9c3f9ee1033b71a3819564243f20ef3bec0183,5b9a43e68f019185f55615d0b83019dee4b5d06f,frank,US,site,League of Legends,chunked,False
3,2015-01-01 11:15:30,0cda8226ba2583424c80c3c1c22c1256b080ad17,02c7797faa4d8a3ff4b0c14ee1764b6817b53d0b,estelle,CH,site,Dota 2,high,False
4,2015-01-01 11:28:19,e3288ca5e3153aa85e32f64cdd994b7666968dcf,b920c228acbcbebee26d9c79f6eb73b73a9480c7,morty,FR,site,Heroes of the Storm,medium,False

In [2]:
chat = pd.read_csv('chat.csv')
chat.head()

,time,device_id,login,channel,country,player,game
0,2015/1/1 18:45,70e2b95b5ac0d4c227e46966658d16b3e044996e,5c2f5c1f19a7738e16ed0be551d865e8a8fce71d,jerry,BY,NaN,Dota 2
1,2015/1/1 1:16,f2b9065b55fd80d6aa653ce989b489f4ec5198be,0d77740e4fb5ce77d94f9f6c8ef1f762990d0344,elaine,HK,NaN,Devil May Cry 4: Special Edition
2,2015/1/1 16:22,d448ba963d7e1023dd1b0a40b95d4f6611750692,77ab14c1fb815e1c369ba0cf7d4c56b4fe489997,frank,GB,iphone_t,League of Legends
3,2015/1/1 3:58,8d6823dc52b400b50aebf269bf1f03a36d19eeaa,91cb88c0743761589273fc5e800e7743ece46494,frank,US,iphone_t,League of Legends
4,2015/1/1 11:47,16c1e39594d62358d27ae604ad43a071f0d86bc4,51a9234f83d656607cfd7f26690c12d2ffbce353,estelle,DE,NaN,Dota 2

In [3]:
stream.game.value_counts(dropna=False, normalize=True)

League of Legends                   0.367724
Dota 2                              0.162660
Counter-Strike: Global Offensive    0.103435
DayZ                                0.072210
Heroes of the Storm                 0.067091
The Binding of Isaac: Rebirth       0.055989
Gaming Talk Shows                   0.053420
World of Tanks                      0.030272
Hearthstone: Heroes of Warcraft     0.027359
Agar.io                             0.021813
Rocket League                       0.013466
ARK: Survival Evolved               0.007900
SpeedRunners                        0.006398
NaN                                 0.005936
Duck Game                           0.002020
Fallout 3                           0.000922
Devil May Cry 4: Special Edition    0.000439
Breaking Point                      0.000306
Batman: Arkham Knight               0.000222
Reign Of Kings                      0.000095
The Witcher 3: Wild Hunt            0.000086
Block N Load                        0.000065
Depth                               0.000051
Mortal Kombat X                     0.000042
H1Z1                                0.000013
Super Mario Bros.                   0.000011
Grand Theft Auto V                  0.000010
Music                               0.000008
The Last of Us                      0.000006
The Elder Scrolls V: Skyrim         0.000006
Senran Kagura: Estival Versus       0.000004
Risk of Rain                        0.000004
Hektor                              0.000002
Blackjack                           0.000002
Lucius                              0.000002
Bridge Constructor Medieval         0.000002
Choice Chamber                      0.000002
Super Mario Bros. 3                 0.000002
Besiege                             0.000002
You Must Build A Boat               0.000002
The Sims 4                          0.000002
Cities: Skylines                    0.000002
Name: game, dtype: float64

In [4]:
stream.channel.value_counts(normalize=True, dropna=False)

frank      0.369182
estelle    0.137724
kramer     0.126840
george     0.082149
newman     0.079510
morty      0.067173
elaine     0.053943
susan      0.030321
helen      0.028062
jerry      0.025096
Name: channel, dtype: float64

In [5]:
# countries of LoL streams from
LoL = stream[stream.game == 'League of Legends']
LoL.country.value_counts(normalize=True, dropna=False)

US     0.442333
CA     0.067348
DE     0.055985
NaN    0.039482
GB     0.035984
         ...
NC     0.000005
SN     0.000005
A1     0.000005
GY     0.000005
SM     0.000005
Name: country, Length: 156, dtype: float64

In [6]:
# sources streamers use
stream.player.value_counts(normalize=True, dropna=False)

site             0.467633
iphone_t         0.191315
android          0.177671
ipad_t           0.101931
embed            0.037657
xbox_one         0.009240
home             0.006610
frontpage        0.002977
amazon           0.002195
xbox360          0.001872
roku             0.000443
chromecast       0.000283
facebook         0.000158
ouya             0.000006
nvidia shield    0.000006
android_pip      0.000004
Name: player, dtype: float64

In [7]:
# create 'genre' column
def parse_values(x):
    if x == 'League of Legends' or x == 'Dota 2' or x == 'Heroes of the Storm':
        return 'MOBA'
    elif x == 'Counter-Strike: Global Offensive':
        return 'FPS'
    elif x == 'DayZ' or x == 'ARK: Survival Evolved':
        return 'Survival'
    else:
        return 'Other'
stream['genre'] = stream.game.apply(parse_values)

In [8]:
# create 'hour' and 'day_of_week' columns to compare views for particular day and time
stream.time = pd.to_datetime(stream.time, format='%Y-%m-%d %H:%M:%S')
stream['hour'] = stream.time.dt.hour
stream['day_of_week'] = stream.time.dt.dayofweek
pd.crosstab(stream.hour, stream.day_of_week)

day_of_week      3
hour
0            15411
1            14407
2            24141
3            16205
4            15098
5             6265
6             1483
7             8505
8            11223
9             9863
10           11584
11           33645
12           50261
13           43390
14           26219
15           26707
16           25191
17           28350
18           28863
19           28374
20           29816
21           29399
22           22062
23           19837

Looks like we only have data for a particular day. After vetting the csv file, we can confirm this.
Hence, we'll only comapre the hours

In [18]:
# time when streamers stream
stream.hour.value_counts(normalize=True, dropna=False)

12    0.095499
13    0.082444
11    0.063928
20    0.056652
21    0.055860
18    0.054841
19    0.053912
17    0.053867
15    0.050745
14    0.049818
16    0.047864
2     0.045869
22    0.041919
23    0.037692
3     0.030790
0     0.029282
4     0.028687
1     0.027374
10    0.022010
8     0.021324
9     0.018740
7     0.016160
5     0.011904
6     0.002818
Name: hour, dtype: float64

In [17]:
# join 'stream' and 'chat' tables
merged = stream.merge(chat, how='left', on='device_id', suffixes=('_stream', '_chat'))
LoL = merged[merged.game_stream == 'League of Legends']
LoL.head()

,time_stream,device_id,login_stream,channel_stream,country_stream,player_stream,game_stream,stream_format,subscriber,genre,hour,day_of_week,time_chat,login_chat,channel_chat,country_chat,player_chat,game_chat
0,2015-01-01 18:33:52,40ffc2fa6534cf760becbdbf5311e31ad069e46e,085c1eb7b587bfe654f0df7b4ba7f4fc4013636c,frank,US,iphone_t,League of Legends,NaN,NaN,MOBA,18,3,2015/1/1 22:43,085c1eb7b587bfe654f0df7b4ba7f4fc4013636c,frank,US,iphone_t,League of Legends
11,2015-01-01 04:39:38,2f9c3f9ee1033b71a3819564243f20ef3bec0183,5b9a43e68f019185f55615d0b83019dee4b5d06f,frank,US,site,League of Legends,chunked,False,MOBA,4,3,NaN,NaN,NaN,NaN,NaN,NaN
17,2015-01-01 21:09:23,80a0c7d1abb6a5a0060e18202b77bef831e08ca5,eb158cab3f606d3894a32e20bddbfd2d589095a9,frank,US,site,League of Legends,high,True,MOBA,21,3,2015/1/1 23:35,eb158cab3f606d3894a32e20bddbfd2d589095a9,frank,US,NaN,League of Legends
18,2015-01-01 19:14:27,1e342e5e4e228f617449029054b3bb19c5224528,2aaf6a414bc3dc923b04f986de7ba1b8101c6698,frank,CA,site,League of Legends,high,False,MOBA,19,3,NaN,NaN,NaN,NaN,NaN,NaN
20,2015-01-01 22:00:14,593ed161c456eeeb9e18b8005786d42abc1a7373,ef24dc49ceb4bcd3cccb0fa862d8a150ecf935e1,frank,US,site,League of Legends,medium,False,MOBA,22,3,NaN,NaN,NaN,NaN,NaN,NaN